In [1]:
import pandas as pd
import kagglehub

path = kagglehub.dataset_download("olistbr/brazilian-ecommerce")

customer_ds =  pd.DataFrame(pd.read_csv(f"{path}/olist_customers_dataset.csv", encoding="latin1"))
geolocation_ds = pd.DataFrame(pd.read_csv(f"{path}/olist_geolocation_dataset.csv", encoding="latin1"))
order_items_ds =  pd.DataFrame(pd.read_csv(f"{path}/olist_order_items_dataset.csv", encoding="latin1"))
order_payments_ds = pd.DataFrame(pd.read_csv(f"{path}/olist_order_payments_dataset.csv", encoding="latin1"))
order_reviews_ds = pd.DataFrame(pd.read_csv(f"{path}/olist_order_reviews_dataset.csv", encoding="latin1"))
orders_ds =  pd.DataFrame(pd.read_csv(f"{path}/olist_orders_dataset.csv", encoding="latin1"))
products_ds = pd.DataFrame(pd.read_csv(f"{path}/olist_products_dataset.csv", encoding="latin1"))
sellers_ds = pd.DataFrame(pd.read_csv(f"{path}/olist_sellers_dataset.csv", encoding="latin1"))
product_category_ds = pd.DataFrame(pd.read_csv(f"{path}/product_category_name_translation.csv", encoding="latin1"))

# Cheaking columns

Here, we will check all the column names, which will help us decide the data types and the primary key

In [2]:
ds={"customer" : customer_ds, "geolocation" : geolocation_ds, "order_items": order_items_ds, "order_payments": order_payments_ds, 
    "order_reviews" : order_reviews_ds, "orders" : orders_ds, "products" : products_ds,
    "sellers" : sellers_ds, "product_category" : product_category_ds}

In [3]:
#Get Information about each table
for name, df in ds.items():
    print(f"{name}")
    df.info()
    print()

customer
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

geolocation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB

order_items
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

order_payments
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

order_reviews
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

orders
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

products
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB

sellers
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB

product_category
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ï»¿product_category_name       71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [4]:
order_items_ds.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [5]:
print(order_reviews_ds["review_id"].nunique())
print(order_reviews_ds.shape[0])

98410
99224

In [6]:
orders_ds.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [7]:
print(orders_ds["order_id"].nunique())
print(orders_ds.shape[0])

99441
99441

In [8]:
products_ds.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [9]:
print(products_ds["product_id"].nunique())
print(products_ds.shape[0])

32951
32951

In [10]:
sellers_ds.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [11]:
print(sellers_ds["seller_id"].nunique())
print(sellers_ds.shape[0])

3095
3095

In [12]:
product_category_ds.head()

  ï»¿product_category_name product_category_name_english
0             beleza_saude                 health_beauty
1   informatica_acessorios         computers_accessories
2               automotivo                          auto
3          cama_mesa_banho                bed_bath_table
4         moveis_decoracao               furniture_decor

In [13]:
print(product_category_ds["ï»¿product_category_name"].nunique())
print(product_category_ds.shape[0])

71
71

!pip install psycopg2-binary SQLAlchemy

In [17]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [18]:
engine = create_engine("postgresql://postgres:829122@localhost:5432/olistdb")

# Dump Raw Data

In [19]:
customer_ds.to_sql('customers_raw', engine, if_exists='append', index=False)

441

In [20]:
geolocation_ds.to_sql('geolocation_raw', engine, if_exists='append', index=False)

163

In [21]:
order_items_ds.to_sql('order_items_raw', engine, if_exists='append', index=False)

650

In [22]:
order_payments_ds.to_sql('order_payments_raw', engine, if_exists='append', index=False)

886

In [23]:
order_reviews_ds.to_sql('order_reviews_raw', engine, if_exists='append', index=False)

224

In [24]:
orders_ds.to_sql('orders_raw', engine, if_exists='append', index=False)

441

In [25]:
products_ds.to_sql('products_raw', engine, if_exists='append', index=False)

951

In [26]:
sellers_ds.to_sql('sellers_raw', engine, if_exists='append', index=False)

95

In [27]:
product_category_ds.to_sql('product_category_raw', engine, if_exists='append', index=False)

71

# Create Schema

Note - We will create a schema for all the tables, but we will not establish any relationships yet. The data needs to be loaded into the SQL server first, and after cleaning it for consistency, we will then establish the necessary relationships.

In [30]:
#1. geolocation
c_geolocation = """
CREATE TABLE IF NOT EXISTS geolocation (
geolocation_zip_code_prefix INT,
geolocation_lat DOUBLE PRECISION,
geolocation_lng DOUBLE PRECISION,
geolocation_city VARCHAR,
geolocation_state CHAR(2)
);
"""

with engine.begin() as conn:
    conn.execute(text(c_geolocation))

In [31]:
#2. customer 
c_customer = """
CREATE TABLE customers (
customer_id VARCHAR(50) PRIMARY KEY,
customer_unique_id VARCHAR(50),
customer_zip_code_prefix INT,
customer_city VARCHAR,
customer_state CHAR(2));
"""

with engine.begin() as conn:
    conn.execute(text(c_customer))

In [32]:
#3. orders
c_orders = """
CREATE TABLE IF NOT EXISTS orders (
order_id VARCHAR(50) PRIMARY KEY,
customer_id VARCHAR(50),
order_status VARCHAR(20),
order_purchase_timestamp TIMESTAMP,
order_approved_at TIMESTAMP,
order_delivered_carrier_date TIMESTAMP,
order_delivered_customer_date TIMESTAMP,
order_estimated_delivery_date TIMESTAMP);
"""

with engine.begin() as conn:
    conn.execute(text(c_orders))

In [33]:
#4. order_payments
c_order_payments = """
CREATE TABLE IF NOT EXISTS order_payments (
order_id VARCHAR(50),
payment_sequential INT,
payment_type VARCHAR(30),
payment_installments INT,
payment_value NUMERIC(10,2));
"""

with engine.begin() as conn:
    conn.execute(text(c_order_payments))

In [34]:
#5. order_reviews
c_order_reviews = """
CREATE TABLE IF NOT EXISTS order_reviews (
review_id VARCHAR(50) PRIMARY KEY,
order_id VARCHAR(50),
review_score INT,
review_comment_title TEXT,
review_comment_message TEXT,
review_creation_date TIMESTAMP,
review_answer_timestamp TIMESTAMP);
"""

with engine.begin() as c:
    c.execute(text(c_order_reviews))

In [35]:
#6. sellers
c_sellers = """
CREATE TABLE IF NOT EXISTS sellers (
seller_id VARCHAR(50) PRIMARY KEY,
seller_zip_code_prefix INT,
seller_city VARCHAR,
seller_state CHAR(2));
"""

with engine.begin() as c:
    c.execute(text(c_sellers))

In [36]:
#7. product_category
c_product_category = """
CREATE TABLE IF NOT EXISTS product_category (
ï»¿product_category_name VARCHAR PRIMARY KEY,
product_category_name_english VARCHAR
);
"""

with engine.begin() as c:
    c.execute(text(c_product_category))

In [37]:
#8. products
c_products = """
CREATE TABLE IF NOT EXISTS products (
product_id VARCHAR(50) PRIMARY KEY,
product_category_name VARCHAR,
product_name_lenght INT,
product_description_lenght INT,
product_photos_qty INT,
product_weight_g INT,
product_length_cm INT,
product_height_cm INT,
product_width_cm INT
);
"""

with engine.begin() as c:
    c.execute(text(c_products))

In [47]:
#9. order_items
c_order_items = """
CREATE TABLE IF NOT EXISTS order_items (
order_id VARCHAR(50),
order_item_id INT,
product_id VARCHAR(50),
seller_id VARCHAR(50),
shipping_limit_date TIMESTAMP,
price NUMERIC(10,2),
freight_value NUMERIC(10,2),
PRIMARY KEY(order_id,order_item_id)
);
"""

with engine.begin() as c:
    c.execute(text(c_order_items))